.ProvidersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  min-height: 100vh;
}

.ProvidersHeader {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 50px 0 50px 0;
}

.ProvidersTitle {
  font-size: 24px;
  font-weight: 600;
}

.ProvidersSubtitle {
  font-size: 14.8px;
  color: #657178;
  margin-top: 15px;
  margin-bottom: 25px;
}

.ProvidersLocations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ProvidersDivider {
  width: 100%;
  height: 2px;
  background-color: #dfe1e6;
}

.ProvidersResultsFrame {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-direction: column;
  background-color: #f6f7f7;
  padding: 20px 0 50px 0;
}

.ProvidersResults {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}

.ProvidersCount {
  font-size: 14px;
  color: #3f4145;
  margin-bottom: 10px;
}

.ProvidersCountNumber {
  color: #1c1e24;
  font-weight: 600;
}

.ProvidersList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
