.Chip {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border: solid;
  border-radius: 25px;
  border-color: #eeeeee;
  border-width: 1px;
  font-size: 14px;
  margin: 2px;
  cursor: pointer;
  color: #3f4145;
}

.Chip.selected {
  background-color: #e0e4fa;
  border-color: #6277f0;
  color: #2d3a7b;
  cursor: pointer;
}
